.youtube-moovy {
    max-width: 1300px;
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
    margin: 0 auto;
    padding: 2rem 3rem 4rem; 
    /* padding-top: 2rem;
    padding-bottom: 3rem; */
    color: var(--grey);
    min-height: 776px;
}